$pillarrow: #0099ff;

body {
  background: #fff; /* fallback for old browsers */
}
h4 {
  color: #152766;
  font-weight: 700;
}

.fw400 {
  font-weight: 500;
}
span img {
  width: 20px;
  height: 20px;
}
card {
  border: 0;
}

.roboto {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  font-weight: 300;
  line-height: 1.4;
  font-size: 16px;
}

.text-primary {
  color: #152766 !important;
}

.pill {
  background-color: #f8f9fa;
  border-radius: 50px;
  padding: 8px 15px 8px 15px;
  font-size: 1em;
  letter-spacing: 0px;
  box-shadow: -2px -2px 4px rgba(250, 250, 250, 0.81),
    2px 2px 4px rgba(0, 0, 0, 0.1);
}

.pill:hover {
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.65),
    inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}
// .pillArrow{

// }

.card-body {
  padding-top: 0px !important;
}

.lato {
  font-family: "Lato", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.middlecard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  background: linear-gradient(to right, #58598e, #1f3068);
}

.borderRadius {
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  clip-path: polygon(0 0, 50% 100%, 100% 0);
  /* border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; */
}

.bg-secondary {
  background-color: rgba(132, 149, 209, 0.2) !important;
}

.mt-6 {
  margin-top: 70px !important;
}
.profileimg {
  width: 8em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px dashed #152766;
  margin: auto;
  margin-top: 35px;
}

img:hover {
  border: 1px dashed #e3e3e3;
  padding: 5px;
  border-radius: 50px;
}

.bg-primary {
  background-color: #1f306e !important;
}

.call-to-action {
  width: 20px;
  height: 20px;
}

.rectIcon {
  width: 39px;
  height: 39px;
  /* border: 1px solid red; */
  padding: 8px 14px;
  background-color: rgba(132, 149, 209, 0.2);
  border-radius: 50px 0 0 50px;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.65),
    2px 2px 4px rgba(0, 0, 0, 0.25);
}

.rectIcon:hover {
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.65),
    inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}

span.img {
  width: 15px !important;
}
.card {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 8px;
}

a:hover {
  background-color: #ff5f6d;
}

.socialiconsize {
  font-size: 1.2em;
}

.bg-secondary {
  background: #e6e9f5;
}

.boxShadow {
  -webkit-box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.37);
  box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.37);
}
.container {
  width: 100%;
  position: absolute;
  overflow: hidden;
  animation: animate 2s linear forwards;
}




@keyframes animate {
  0% {
    top: 0px;
    height: 0px;
    opacity: 0;
  }
  25% {
    height: 25%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
